:root {
  /* active input borders */
  --gradient: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  /* input errors */
  --red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grey-violet: hsl(270, 3%, 87%);
  --dark-grey-violet: hsl(279, 6%, 55%);
  --darker-violet: hsl(278, 68%, 11%);
  font-size: 18px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 1px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--white);
}

/*=========
    Card 
  ========*/

section {
  background-image: url(./images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  min-height: 30vh;
}

.front,
.back,
.logo,
#card-cvc,
.card-info {
  position: absolute;
}

.front > img,
.back img {
  width: 70%;
  height: auto;
  min-width: 250px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.logo img {
  width: 15vw;
  height: auto;
  min-width: 50px;
  max-width: 80px;
}
.back {
  text-align: right;
  top: 5vh;
  right: 5vw;
}
.front {
  top: 16vh;
  left: 5vw;
  text-transform: uppercase;
}

.logo {
  z-index: 2;
  top: 10%;
  left: 1rem;
}

#card-cvc {
  top: 42%;
  right: 8%;
  font-size: 0.5rem;
}

.card-info {
  width: 70%;
  min-width: 250px;
  padding: 0.8rem;
  bottom: 10px;
  left: 0;
}

.card-info p {
  width: 100%;
}

#card-num {
  font-size: calc(1rem + 0.5vw);
  letter-spacing: 0.2vw;
}
.card-info .row {
  margin-top: 1rem;
  font-size: 0.5em;
  justify-content: space-between;
}
#card-exp {
  flex: 1 30%;
  text-align: right;
}

/* ==============
 INPUT SUBMIT STATE 
================*/
.input-submit,
.completed {
  padding: calc(3em + 10vw) 1.8em 2em 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  text-transform: uppercase;
  font-size: 0.8rem;
  /* margin-top: 1rem; */
}

input:not([type="submit"]) {
  margin: 0.5em 0 0;
  padding: 0.5em;
  width: 100%;
  min-height: 2.5rem;
  border: 1px solid var(--dark-grey-violet);
  outline: none;
}

input:not([type="submit"]):focus {
  padding: 0.5em;
  border: solid 2px transparent;
  background-image: linear-gradient(var(--white), var(--white)), var(--gradient);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

input,
button {
  border-radius: 8px;
  cursor: pointer;
}

::placeholder {
  color: var(--light-grey-violet);
}

.row {
  display: flex;
  gap: 0.5rem;
}

.row label {
  flex: 1 50%;
}

input[type="submit"],
button {
  width: 100%;
  background-color: var(--darker-violet);
  color: var(--white);
  border: none;
  margin-top: 0.8rem;
  font-size: 1rem;
  padding: 0.8em 0;
}

.message {
  text-transform: none;
  color: var(--red);
  font-size: 0.7rem;
  padding: 0.5rem 0;
}

.message::first-letter {
  text-transform: capitalize;
}
.error {
  border-color: var(--red) !important;
}

/* ==============
 COMPLETED STATE
================*/

.completed {
  display: none;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.completed img {
  width: 28%;
  height: auto;
  margin-bottom: 1rem;
}

.completed h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--darker-violet);
}
.completed p {
  color: var(--dark-grey-violet);
}

.attribution {
  font-size: 11px;
  text-align: center;
  grid-column: 1 / span2;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* media query */

@media screen and (min-width: 700px) {
  body {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  /* card */
  section {
    background-image: url(./images/bg-main-desktop.png);
    color: var(--white);
    height: 100%;
    width: 33vw;
    max-width: 500px;
  }

  .back {
    text-align: left;
    top: auto;
    bottom: 30%;
    left: 8%;
    right: auto;
  }

  .front {
    top: 30%;
    left: 2%;
    text-transform: uppercase;
  }

  .logo {
    left: 1.5em;
  }

  #card-cvc {
    top: 42%;
    right: 38%;
    font-size: 0.8rem;
  }

  .card-info {
    padding: 1em 1.5em;
  }

  #card-num {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  /* form and complete state*/
  .input-submit,
  .completed {
    max-width: 550px;
    padding: 3em 1.8em 2em 8em;
    margin: 0 auto;
  }

  .completed h1 {
    font-size: 1.5rem;
  }
  .completed p {
    font-size: 1rem;
    padding: 0 1.5em;
  }

  button {
    margin-top: 2rem;
  }

  /* remove footer */
  .attribution {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .front > img,
  .back img {
    width: 90%;
  }

  .back {
    text-align: right;
    top: auto;
    left: 15%;
    right: auto;
  }

  .front {
    top: 25%;
    left: 12%;
    text-transform: uppercase;
  }

  #card-cvc {
    top: 44%;
    right: 12%;
  }

  .card-info {
    width: 90%;
  }

  #card-num {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  .card-info .row {
    margin-top: 1.5rem;
  }
}
